<header>
  <img
    src="assets/img/ricardo.jpeg"
    alt="Ricardo Bono - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Ricardo Bono</h1>
</header>

<aside>
  <div class="skills">
    <h2>Software Full-Stack Developer .NET | C# | ASP.NET Core | Angular | SQL Server</h2>
  </div>
  <div class="region">
    <h3>Campo Grande, Rio de Janeiro, Brasil</h3>
  </div>
  <div class="container">
    <p>
      Sou desenvolvedor de software que tive como minha última experiencia profissional à Stone Co, empresa esta que é uma das principais e referência no segmento de tecnologia com foco em meios de pagamentos. 

      <p>Estive por aproximadamente dois anos atuando na área de credito da companhia que tem como seu principal valor entregar softwares eficientes para a resolução dos problemas de seus clientes, com isso agregar valor em seus negócios e alavancar o crescimento destes.</p>
      
      <p>Utilizava como tecnologias no dia a dia:</p>
      
      <p>
        - Linguagens C# no backend, e TypeScript com o uso do framework Angular no frontend para o
        desenvolvimento de novas features, sempre respeitando a aplicabilidade de
        código limpo e de fácil manutenção;
      </p>
      
      <p>- xUnit e Jasmine para criação de testes de unidade;</p>
      
      <p>- New Relic e DataDog para o monitoramento da API através das ferramentas;</p>
      
      <p>- Kanban e Scrum para a prática de metodologias ágeis e suas aplicações para desenvolvimento de software;</p>
      
      <p>- SQL e MongoDB para banco de dados;</p>
      
      <p>- Github como ferramenta de versionamento;</p>
      
      <p>- Azure Pippeline para realização de deploy.</p>
      
      <p>
        Além de todo aprendizado obtido através das minhas atividades diárias, busquei realizar em meus momentos livres diversos cursos para meu aperfeiçoamento. Cursos estes realizados e certificados pelo escola de tecnologia Alura, no qual a companhia Stone possuía parceria para aprimorar a habilidade de seus colaboradores.
      </p>
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/CV_RICARDO FullStack.pdf" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/ricardobono/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://bit.ly/ricardobono"
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (21) 9 9746-5618</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:ricardo.bonos@gmail.com.br" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>ricardo.bonos&#64;gmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
  </div>
</aside>